users:
  - bob
  - alice
public_key_folder: {{folder_path}}/public_key
monitoring_user_pem: ssh-rsa XXXXXXXXXXXXXXXXXXXXXXX
ssh_config_content: |
  Host remote-server
    HostName X.X.X.X
    User remote-user
    IdentityFile {{folder_path}}/private_key.pem